@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  color: white;
  background: black;
}
.navbar {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.logo {
  color: #a40000;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.2);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links li a {
  padding: 8px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  transition: 0.3s ease;
}
.nav-links li a.active,
.nav-links li a:hover {
  color: white;
  background: #a40000;
}
/*home*/
.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 300px;
}
.home-content {
  display: flex;
  flex-direction: column;
}
.home-content h1 {
  font-weight: 700;
  color: white;
  font-size: 50px;
}
.home-content h3 {
  font-weight: 700;
  color: white;
  font-size: 35px;
}
.home-content p {
  font-weight: 500;
  color: white;
  font-size: 16px;
}
.home-content h1 span,
h3 span {
  color: #a40000;
}

.home-btn {
  margin-top: 30px;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  padding: 8px;
  border: #a40000 2px solid;
  background: transparent;
  transition: 0.3s ease;
}
.home-btn:hover {
  box-shadow: #a40000 0px 0px 20px;
  background: #a40000;
}

.home-img {
  border-radius: 50%;
  border: white 7px solid;
  width: 450px;
  object-fit: cover;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a {
  margin-top: 10px;
  font-size: 30px;
  color: white;
  transition: 0.3s ease;
}
.social-icons a:hover {
  transform: scale(1.2);
  color: #a40000;
}
